[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
uvloop = "*"
ujson = "*"
python-dotenv = "*"
requests = "*"
aiogram-dialog = "*"
pytube = "*"
innertube = "*"
yt-dlp = "*"
aiogram = "*"
bs4 = "*"

[dev-packages]

[requires]
python_version = "3.10"

[pipenv]
allow_prereleases = true
